@import './base';

.main__prompt {
	width: calc(100% - 20px);
	border: 2px solid $tertiary-color;
	border-radius: 20px;
	padding: 30px 20px;
	h2 {
		font-size: 1.3rem;
		color: $tertiary-color;
	}
	form {
		margin: 10px 0 50px 0;
		position: relative;
		label {
			font-size: 0.8rem;
			display: block;
			color: #fff;
			padding: 10px 0;
		}
		input {
			color: #fff;
			font-family: $main-font;
			font-size: 1rem;
			border-radius: 10px;
			padding: 10px 10px;
			width: 90%;
			border: 2px solid $tertiary-color;
		}
		button {
			position: absolute;
			right: 0px;
			bottom: -60px;
			font-size: 1.2rem;
			font-weight: 700;
			border-radius: 10px;
			padding: 10px 30px;
			color: $primary-color;
			background-color: $tertiary-color;
			cursor: pointer;
			&:hover {
				opacity: 80%;
				transition: opacity 0.2s;
			}
		}
	}
}
